<!DOCTYPE html>
<html>
  <head>
    <title>SoundShroud</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
  <body>
      <script type="text/javascript">
        <% if logged_in? %>
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
        <% end %>
        window.banner_url ="<%= asset_path("guit blue.jpeg")%>"
        window.landing_img_url ="<%= asset_path("sax blue.jpeg")%>"
      </script>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="guit_filter" colorInterpolationFilters="linearRGB">
            <feColorMatrix  type="matrix">
              <animate id="blue_filter_in" attributeName="values"
                attributeType="XML" begin="indefinite" dur="3"
                 end="indefinite"
                 from="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"
                 to="0.5 0.5 0.5 0 0 0.6 0.6 0.6 0 0 0.7 0.4 0.4 0 0 0 0 0 1 0 "
                fill="freeze" />
            </feColorMatrix>
          </filter>
        </defs>
      </svg>
    <%= yield %>
  </body>
</html>
