<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8,
    minimum-scale=0.8">
    <title>SoundShroud</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
  <body>
    <audio></audio>
      <script type="text/javascript">
        <% if logged_in? %>
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
        <% end %>
        window.banner_url ="<%= asset_path("guit blue.jpeg")%>"
        window.landing_img_url ="<%= asset_path("sax blue.jpeg")%>"
        window.pause_img_url ="<%= asset_path("pause_button.png")%>"
        window.play_img_url ="<%= asset_path("play_button.png")%>"
      </script>

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="blue_filter" colorInterpolationFilters="linearRGB">
            <feColorMatrix  type="matrix">
              <animate id="blue_filter_in" attributeName="values"
                attributeType="XML" begin="indefinite" dur="20"
                 end="indefinite"
                 values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0; 0.5 0.5 0.5 0 0 0.6 0.6 0.6 0 0 0.7 0.4 0.4 0 0 0 0 0 1 0;1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"
                repeatCount ="indefinite"
                fill="freeze" />
            </feColorMatrix>
          </filter>
        </defs>
      </svg>
    <%= yield %>
  </body>
</html>
